/ {
	ext_power: ext_power {
		compatible = "regulator-fixed";
		enable-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
		regulator-name = "ext_power";
		regulator-boot-on;
	};
};

&i2c0 {
	/delete-node/ si7021@40;

	bme680: bme680@76 {
		compatible = "bosch,bme680";
		reg = <0x76>;
	};
};
