/ {
	dht22: dht22 {
		compatible = "aosong,dht";
		status = "okay";
		dio-gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
		dht22;
	};

	aliases {
		/delete-property/ led1;
		/delete-property/ led2;
		/delete-property/ led3;
		/delete-property/ sw0;
	};

};

&i2c0 {
	status = "disabled";
	/delete-node/ si7021@40;
};

&timer2 {
	status = "okay";
	prescaler = <4>;
};
